
/* -------------------- */
/* RESPONSIVE DESIGN    */
/* -------------------- */

@media (max-width: 768px) {
  .slide {
    padding: 40px;
  }

  .inspired-wrapper {
    height: 70vh;
  }

  .bg-image {
    width: 100%;
    height: 40vh;
  }

  .overlay-image {
    left: 50%;
    width: 200px;
  }

  .cover h1 {
    font-size: 42px;
  }
}
@media (max-width: 768px) {

  .slide {
    padding: 40px;
  }

  h1 {
    font-size: 28px;
    text-align: center;
  }

  img {
    width: 90%;
    height: auto;
  }

}